<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://kit.fontawesome.com/f18b52f49a.js" crossorigin="anonymous"></script>
    <title>First Vue</title>
</head>
<body>
  <div id="app">
    <h1>{{message}}</h1>
    <input v-model="message">
  </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Play2Learn Logo</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../games/anagram-hunt.html">Anagram Hunt</a>
                        <a class="dropdown-item" href="../games/math-facts.html">Math Facts Practice</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../login.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    

  <div id="game-container" class="text-center">
     <template v-if="timeLeft === 0">
       <div>
         <h2>Anagram Hunt</h2>
         <h2>Time's Up!</h2>
         <strong class="big">You Got</strong>
         <div class="huge">{{ score }}</div>
         <strong class="big">Anagrams</strong>
         <button
           class="btn btn-primary form-control m-1"
           v-on:click="restart()"
         >
           Play Again
         </button>
         <button
           class="btn btn-secondary form-control m-1"
           v-on:click="config()"
          >
               Back to Start Screen
             </button>
           </div>
         </template>
         <div v-if="timeLeft > 0">
       <div class="row border-bottom" id="scoreboard">
         <div class="col px-3 text-left">
         <GameScore :score="score" />
       </div>
       <div class="col px-3 text-right">
       <GameTimer :timeLeft="timeLeft" />
        </div>
       </div>
       <div :class="equationClass" id="equation">
       <p class="anagram-word">{{ currentWord }} ({{ remainingAnagrams }} left)</p>
         <GameEquation
           :question="currentWord"
           :answer="userInput"
           :answered="answered"
         />
       </div>
       <div class="row" id="buttons">
         <div class="col">
           <input
           type="text"
             v-model="userInput"
             @keyup.enter="checkAnswer"
             :disabled="answered"
             placeholder="type here"
           />
       
         </div>
       </div>
       <div class="completed-anagrams">
         <p v-for="(anagram, index) in completedAnagrams" :key="anagram">
         {{ index + 1 }}. {{ anagram }}</p>
       </div>
     </div>
   </div>

<script>
import GameScore from './GameScore';
import GameTimer from './GameTimer';
import GameEquation from './GameEquation';
import anagrams from '../helpers/anagrams';

export default {
  name: 'GamePlay',
  components: {
    GameScore,
    GameTimer,
    GameEquation,
  },
  data() {
    return {
      wordLengths: [5, 6, 7, 8],
      wordLength: 5,
      currentWord: '',
      anagrams: [],
      userInput: '',
      answered: false,
      score: 0,
      gameLength: 60,
      timeLeft: 0,
      equationClass: '',
      completedAnagrams: [],
    };
  },
  methods: {
    config() {
  this.$router.push('/');
},

    newWord() {
    const wordLength = this.wordLength; // Use the selected word length
    console.log('Word Length:', wordLength);
    const wordArrays = anagrams[wordLength];
    console.log('Word Arrays:', wordArrays);

   if (wordArrays && wordArrays.length > 0) {
    const randomArray = wordArrays[Math.floor(Math.random() * wordArrays.length)];
    console.log('Random Array:', randomArray);

    if (randomArray && randomArray.length > 0) {
      // Filter words to ensure the selected word has the correct length
      const filteredArray = randomArray.filter(word => word.length === wordLength);
      console.log('Filtered Array:', filteredArray);

      if (filteredArray.length > 0) {
        this.currentWord = filteredArray[Math.floor(Math.random() * filteredArray.length)];
        console.log('New word:', this.currentWord);
        this.anagrams = filteredArray.filter(word => word !== this.currentWord);
        console.log('Updated anagrams:', this.anagrams);
        // Reset completedAnagrams
        this.completedAnagrams = [];
      } else {
        console.error('No words with the selected length in the random array.');
      }
    } else {
      console.error('Random array is empty or undefined.');
    }
  } else {
    console.error('Word arrays are empty or undefined for the given word length.');
   }

  // Reset answered status
  this.answered = false;
},
    checkAnswer() {
  // Check if the user input is a valid anagram
  if (this.anagrams.includes(this.userInput)) {
    this.score++;
    this.completedAnagrams.push(this.userInput);
    // Remove the guessed anagram
    this.anagrams = this.anagrams.filter(word => word !== this.userInput);
    // Clear the user input
    this.userInput = '';

    // Check if all anagrams are guessed, then get a new word
    if (this.anagrams.length === 0) {
      this.newWord(); // Add this line to get a new word
      console.log('Getting a new word...');
    }
  }
  this.answered = false; // Set answered to false after checking the answer
},
    startTimer() {
      window.addEventListener('keyup', this.handleKeyUp);
      this.timeLeft = this.gameLength; // This should be initialized with some value
      if (this.timeLeft > 0) {
        this.timer = setInterval(() => {
          this.timeLeft--;
          if (this.timeLeft === 0) {
            clearInterval(this.timer);
            window.removeEventListener('keyup', this.handleKeyUp);
          }
        }, 1000);
      }
    },
    restart() {
      this.score = 0;
      this.startTimer();
      this.newWord();
    },

  },
  mounted() {
    console.log('Word Length:', this.$route.params.wordLength);
    this.newWord();
    this.startTimer();
  },
 computed: {
    remainingAnagrams() {
    return this.anagrams.length;
    },
  },
};
</script>
<script>
  const { createApp } = Vue      
  createApp({
    data() {
      return {
        message: 'Hello, Vue!'
      }
    }
  }).mount('#app');
</script>
</body>
</html>